# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore virtual environment directory
venv/

# Ignore environment variable files
.env

# Ignore log files
*.log

# Ignore IDE config files
.vscode/
.idea/

